<!-- Item list display  -->
<div class="item-list-section container">
    <div class="item-list-container d-flex justify-content-evenly flex-wrap row g-0">
        <div class="card card-main-section " *ngFor="let item of itemlist let data">
            <img src={{item.image}} alt="" class="card-item-image">
            <div class="favorite-item ">
                <app-add-favorite [selectedData]="data"></app-add-favorite>
            </div>
            <div class="card-body">
                <h5 class="card-title m-0 my-2">{{item.name}}</h5>
                <app-read-more-less [text]="item.description" [wordLimit]="60"></app-read-more-less>
                <p class="item-price m-0 my-2"> <span class="price-title"> Price : $ </span>{{item.price}} </p>
                <p class="item-date m-0 my-2"><span class="price-title">Date : </span> {{item.item_add_date}} </p>
            </div>
        </div>
    </div>
</div>